.search-container {
  display: flex;
  align-items: center;
  margin: 5px auto;
  width: 70%;
  position: relative;
}

.search-container form {
  display: flex;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  background: none;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .search-container {
    width: 90%;
  }
}
